.card-container .inventory-title {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    margin-top: 1.5rem;
    margin-bottom: 0.2rem;
    padding: 1rem;
    border-bottom: 0.15rem solid var(--colors-grey-7);
    border-radius: 0;
}

.card-container .inventory-title h2 {
    grid-column-start: span 2;
    margin: 0;
}

.card.no-background.item-links {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0.1rem;
    padding-left: 0rem;
    padding-right: 0rem;
    padding-top: 0.2rem;
    padding-bottom: 0.8rem;
    margin: 0;
}

.item-links #storePage {
    grid-column-start: 1;
}

.item-links #categories {
    grid-column-start: -3;
}

.item-links #settings {
    grid-column-start: -2;
}

.item-links #addNewCategory {
    grid-column-start: -2;
}

.add-item-note {
    color: white;
    margin-top: 0.5rem;
}

.add-item-note div {
    padding: 0.25rem;
}

#itemsContainer .item {
    display: grid;
    color: white;
    grid-template-columns: 6.5fr 3fr 0.5fr;
    grid-gap: 0.5rem;
    margin-top: 0.1rem;
    padding: 0rem;
}

#itemsContainer .items-table-header {
    display: grid;
    color: white;
    grid-template-columns: 6.5fr 3fr 0.5fr;
    grid-gap: 0.5rem;
    padding: 0;
}

.items-table-header #createNew {
    grid-column-start: -2;
}

#itemsContainer .item div {
    padding: 0.5rem;
}

#itemsContainer .item.htmx-swapping {
    opacity: 0;
    transition: opacity 0.25s ease-out;
}

#itemsContainer .item .item-price {
    text-align: right;
}

#itemsContainer .item .delete-button .delete-icon {
    width: 1.5em;
    fill: var(--colors-grey-9);
    height: 1.6em;
    vertical-align: -1em;
}

#itemsContainer .item .delete-button {
    border: none;
    background-color: var(--colors-grey-4);
    width: 2rem;
    height: 2rem;
    margin-left: 0.4rem;
    margin-right: 0.4rem;
    padding: 0;
    border-radius: var(--border-radius);
    font-size: 0.9rem;
}

#itemsContainer .item .delete-button:hover>svg {
    fill: var(--colors-grey-8);
}

#paginator-container {
    display: grid;
    grid-template-columns: minmax(0, 1fr) 28rem minmax(0, 1fr);
}

#paginator {
    display: grid;
    grid-column-start: 2;
    grid-template-columns: repeat(9, 1fr);
    padding: 1rem;
}

#paginator a {
    width: 1.5rem;
    display: inline-block;
}

.jump-backward,
.jump-forward {
    background-image: url('/media/elipsis.svg');
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: center;
    width: 1em;
    height: 1em;
}

.jump-backward:hover {
    background-image: url('/media/chevrons-left.svg');
}

.jump-forward:hover {
    background-image: url('/media/chevrons-right.svg');
}

#paginator a.current {
    border-color: var(--colors-grey-6);
}


#editorContainer .item-creator {
    display: grid;
    color: white;
    grid-template-columns: 1fr 2fr 1fr;
    grid-gap: 0.5rem;
}

#editorContainer .item-creator>* {
    grid-column-start: 1;
    grid-column-end: span 3;
}

#editorContainer .error-msg {
    grid-row-start: 8;
    min-height: 1.5rem;
}

#editorContainer .add-item-button {
    grid-column-start: 2;
    grid-column-end: span 1;
    grid-row-start: 8;
    min-height: 1.5rem;
}

#inventorySettingsContainer {
    color: white;
}

.settings-form {
    display: grid;
    grid-template-columns: repeat(10, minmax(0, 1fr));
    grid-row-gap: 0.5rem;
}

.settings-form label {
    grid-column-start: 1;
    grid-column-end: 3;
}

.settings-form input,
.settings-form div {
    grid-column-start: 3;
    grid-column-end: 8;
}

.settings-form button {
    grid-column-start: 5;
    grid-column-end: 7;
    margin-top: 1rem;
}

.settings-form .textlink:hover {
    text-decoration: underline;
    cursor: pointer;
}


#categoriesContainer {
    color: white;
}

#categoriesContainer .category-row{
    display: grid;
    grid-template-columns: 3fr 1fr;
    padding: 0.1rem;
    border-radius: var(--border-radius);
    margin-bottom: 0.5rem;
}


#categoriesContainer .category-row:hover {
    background-color: var(--colors-grey-6);
}

#categoriesContainer .item-links #createCategoryForm {
    display: contents;
}

#createCategoryForm .name{
    grid-column-start: 1;
}

#createCategoryForm .submit{
    grid-column-start: -2;
}

