.menu {
    color: white;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: 100%;
}

.menu .title {
    grid-column-start: 1;
    grid-column-end: span 2;
    margin-top: 0.5rem;
    text-align: center;
}

.menu .menuBody {
    display: grid;
    grid-template-columns: 50% 50%;
}

.menu .tabs {
    grid-column-start: 1;
    grid-column-end: span 2;
    border-top: 0.1rem solid var(--colors-grey-8);
    padding-top: 0.4rem;
}

.menu .tabs .tab  {
    min-width: 4rem;
}

.menu .card {
    border: none;
}

.menu .card-container {
    border: none;
}

.menu .attr.name {
    font-size: 1rem;
    padding-bottom: 0.5rem;
}
.menu .attr.desc {
    font-size: 0.8rem;
    padding-bottom: 0.5rem;
}

.menu .attr.price {
    color: moccasin;
    font-size: 1rem;
    padding-top: 0.5rem;
}

.menu-link {
    display: grid;
    grid-template-columns: auto 5rem auto;
}

.menu-link a {
    grid-column-start: 2;
    margin-bottom: 0.5rem;
}
